body {
  width: auto;
  min-height: 100vh;
  background: linear-gradient(294deg, #19151A 40%, #292929 90%);
  overflow-x: hidden;
}
body .rectContainerBG {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}
body nav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 10;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 0.15rem;
  border: 0.1px solid transparent;
  transition: border 150ms ease-in-out, -webkit-backdrop-filter 500ms ease;
  transition: border 150ms ease-in-out, backdrop-filter 500ms ease;
  transition: border 150ms ease-in-out, backdrop-filter 500ms ease, -webkit-backdrop-filter 500ms ease;
}
body nav .logoGroup {
  width: 11rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
body nav .logoGroup img {
  width: 3rem;
  fill: #FF471F;
}
body nav .logoGroup a {
  color: #F9F9F9;
  text-decoration: none;
}
body nav .navMenu {
  position: relative;
  width: 40rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body nav .navMenu a {
  position: relative;
  color: #F9F9F9;
}
body nav .navMenu .btn {
  padding: 0.6rem 2rem;
  color: #FF471F;
  border-radius: 3.125rem;
  border: 1px solid #FF471F;
  transition: all 150ms ease;
  cursor: pointer;
}
body nav .navMenu .btn a {
  color: #FF471F;
  text-decoration: none;
}
body nav .navMenu .btn:hover {
  box-shadow: 0px 0px 10px 0px #FF471F;
}

.pageContainer {
  position: relative;
  top: 3rem;
  padding: 10rem 3rem;
}
.pageContainer .p1 {
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr;
  align-items: center;
}
.pageContainer .p1 .heroText {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pageContainer .p1 .heroText h1 {
  color: #FF471F;
}
.pageContainer .p1 .heroText .textContainer {
  display: grid;
}
.pageContainer .p1 .heroText .textContainer p {
  grid-area: 1/1;
  opacity: 0;
  transform: scaleY(0%);
  transition: opacity 250ms ease-in-out, transform 150ms ease-in-out;
}
.pageContainer .p1 .heroText .textContainer p.active {
  color: #F9F9F9;
  opacity: 1;
  transform: scaleY(100%);
  transition: opacity 550ms ease-in-out, transform 150ms ease-in-out;
}
.pageContainer .p1 .heroText .exploreSection {
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.pageContainer .p1 .heroText .exploreSection a {
  grid-column: 1/3;
  grid-row: 1/3;
  color: #FF471F;
}
.pageContainer .p1 .heroText .exploreSection img:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 6rem;
}
.pageContainer .p1 .heroText .exploreSection img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 3rem;
}
.pageContainer .p1 .heroElement {
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: baseline;
}
.pageContainer .p1 .heroElement img {
  display: none;
}
.pageContainer .p1 .heroElement img.stationary {
  display: block;
  padding: 1rem;
  grid-area: 1/1;
  width: 30rem;
  position: relative;
  color: #19151A;
  justify-content: center;
}
.pageContainer .p1 .heroElement img.active {
  display: block;
  padding: 1rem;
  grid-area: 1/1;
  height: 31rem;
  position: relative;
  color: #19151A;
  justify-content: center;
}
.pageContainer .p1 .heroScroll {
  grid-column: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}
.pageContainer .p1 .heroScroll .line1 {
  position: absolute;
  height: 20rem;
  border: 1px solid rgba(254, 254, 254, 0.1882352941);
}
.pageContainer .p1 .heroScroll .scrollNum {
  color: rgba(121, 121, 121, 0.5);
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19151A;
  border-radius: 50%;
  outline: 10px solid #19151A;
  border: 1px solid rgba(121, 121, 121, 0.5);
  z-index: 1;
  transition: color 250ms ease-in-out, border 500ms ease-in-out;
}
.pageContainer .p1 .heroScroll .scrollNum p {
  font-family: Julius Sans One;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.pageContainer .p1 .heroScroll .scrollNum.active {
  color: #F9F9F9;
  border: 1px solid #F9F9F9;
}

.boundingBoxDepth {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5215686275);
  border-radius: 0.25rem;
  border: 0.1px solid rgba(254, 254, 254, 0.1882352941);
  background: rgba(255, 255, 255, 0);
}

.colPrimaryDropShadow {
  box-shadow: 0px 0px 10px 0px #FF471F;
}

.colPrimaryDropShadowTxt {
  text-shadow: 0px 0px 10px #FF471F;
}

.textLogo {
  font-family: Kelly Slab;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textNav {
  font-family: Sen;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textHeroH1 {
  font-family: Radio Canada;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.textHeroP {
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navOnScroll {
  border: 0.1px solid rgba(255, 255, 255, 0.1254901961);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.linkWithUnderline {
  text-decoration: none;
}
.linkWithUnderline span {
  position: relative;
  display: block;
  width: 100%;
  height: 0.05rem;
  background-color: #F9F9F9;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  transition: all 0.2s ease-in-out;
}
.linkWithUnderline:hover span {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}/*# sourceMappingURL=style.css.map */