$col_accent: #F28500;
$col_primary: #FDFDFF;
$col_text: #131115;
$col_text_dim: #363438;

body {
    width: 200vw;
    min-height: 100vh;
    position: relative;

    overflow-x: hidden;
    transition: transform 150ms ease;

    nav {
        position: fixed;

        height: 5rem;
        width: 100vw;
        padding: 0 5rem;

        display: grid;
        grid-template-columns: repeat(5, 1fr);

        align-items: center;
        justify-items: center;

        outline: 1px solid $col_primary;
        transition: transform 150ms ease;

        z-index: 10;

        a {
            position: relative;

            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            color: $col_text;

            img {
                width: 3rem;
            }

            div {
                background-color: $col_primary;
                padding: 1rem 1.5rem;
                border-radius: 10rem;

                color: $col_accent;

                transition: opacity 150ms ease-in-out;
                // UNDERLINE SPAN COLOR CHANGES IN HTML STYLE TAG
            }

            i {
                position: absolute;
                opacity: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                background-color: $col_primary;
                width: 3rem;
                height: 3rem;
                border-radius: 10rem;
                font-size: 1.5rem;

                color: $col_accent;

                &::before{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 3rem;
                    height: 3rem;
                }

                transition: opacity 150ms ease-in-out;
            }

            &.enableClose div {
                opacity: 0;
            }
            &.enableClose i {
                opacity: 1;
            }
        }
    }

    .page1 {
        position: relative;

        width: 50%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);

        align-items: center;
        justify-content: center;

        top: 5rem;
        padding: 4rem 0;

        .bgText {
            position: absolute;

            left: 45%;
            top: -8rem;
            background-size: cover;
            width: auto;
            height: auto;

            z-index: -1;
        }

        .heroText {
            position: relative;
            grid-column: 1;
            grid-row: 1/3;

            padding: 5rem;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                font-family: Monument Extended;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                letter-spacing: 0.3rem;
                
                width: 25%;

                color: $col_text;
            }
            p {
                font-family: Montserrat;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                color: $col_text_dim;
            }
        }

        .heroImg {
            position: relative;
            grid-column: 2;
            grid-row: 1/3;

            left: 0;

            min-width: 0;
            min-height: 0;

            padding: 2rem;
            img {
                border-radius: 10px;
            }
        }

        .getStartedButton {
            width: 12rem;
            height: 12rem;
            position: relative;
            justify-self: center;

            margin: 2rem;

            grid-row: 2;
            grid-column: 1/3;

            background-color: $col_primary;

            border-radius: 50%;

            display: flex;
    
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                flex-direction: column;
    
                align-items: center;
                justify-content: center;
                gap: 0.75rem;

                h1 {
                    font-family: Monument Extended;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: bold;
                    line-height: normal;

                    text-align: center;

                    color: $col_accent;
                }
                img {
                    width: 2.25rem;
                }
            }
        }
    }

    .page2 {
        width: 50%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        align-items: center;
        justify-content: center;

        img {
            grid-column: 1/2;
            grid-row: 1/4;

            padding: 1rem 5rem;
        }

        .info {
            grid-column: 2/3;
            padding-right: 5rem;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                font-family: Monument Extended;
                font-size: 1.75rem;
                font-style: normal;
                font-weight: bold;
                line-height: normal;

                color: $col_text;
            }
            p {
                font-family: Montserrat;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                color: $col_text_dim;
            }
        }
    }
    
    .page3 {
        width: 50%;
        padding: 0 5rem;

        margin: 3rem 0;

        .tryService {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            align-items: center;
            justify-items: center;
            
            padding: 5rem 5rem;

            background-color: $col_primary;
            border-radius: 10px;
        
            .tryServiceText {
                display: flex;
                flex-direction: column;
                
                gap: 0.5rem;

                grid-column: 1/3;
                h1 {
                    font-family: Monument Extended;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: bold;
                    line-height: normal;
                    letter-spacing: 0.3rem;

                    color: $col_text;
                }
                p {
                    font-family: Montserrat;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    color: $col_text_dim;
                }
            }
            .tryServiceBtn {
                grid-column: 3/4;

                div {
                    display: flex;
                    gap: 0.8rem;

                    background-color: $col_accent;
                    padding: 1.5rem 2rem;

                    border-radius: 10rem;

                    font-family: Monument Extended;
                    font-size: 1.75rem;
                    font-style: normal;
                    font-weight: bold;
                    line-height: normal;

                    color: $col_primary;

                    img {
                        width: 2rem;
                    }
                }
            }
        }
    }

    footer {
        width: 50%;
        padding: 1rem 5rem;
        .footerContainer {
            position: relative;

            display: grid;
            grid-template-columns: repeat(2, 1fr);

            padding: 3rem 0;

            border-top: 1px solid $col_text;
            border-bottom: 1px solid $col_text;

            .footerLeft {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4rem;

                img {
                    width: 10rem;
                }
                h1 {
                    font-family: Futura;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.225rem;
                }
            }
            .footerRight {
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    li {
                        list-style: none;

                        a {
                            font-family: Montserrat;
                            font-size: 0.8rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            color: $col_text_dim;

                            &:hover {
                                color: $col_text;
                            }
                        }
                    }
                }

                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 7rem;

                padding: 2rem;
            }

            .backToTopBtn {
                position: absolute;
                right: 0;
                bottom: 0;

                width: 5rem;
                height: 5rem;

                background-color: $col_primary;
                margin: 2rem;

                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                img {
                    width: 2rem;
                }
            }
        }
        .footerBottom {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;

            .copyrightInfo {
                font-family: OpenSans;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                
                text-transform: uppercase;

                color: $col_text_dim;
            }
            .links {
                display: flex;
                gap: 3rem;

                a i {
                    font-size: 1.25rem;
                    color: $col_text_dim;
                }
            }
        }
    }

    .accountsPage {
        position: absolute;
        right: 0;
        top: calc(((100vh - 5rem) / 2) + 5rem);
        transform: translateY(-50%);

        display: grid;
        grid-template-columns: 1fr 1fr;

        align-items: center;

        width: 50%;
        padding: 0 5rem;

        .accountsBG {
            position: absolute;

            height: 100%;

            border-radius: 10px;
            border: 1px solid $col_primary;

            transition: left 500ms ease, right 500ms ease;

            z-index: -2;
            backdrop-filter: blur(2px);

            &.left {
                left: 18%;
                right: 52%;
            }
            &.right {
                left: 52%;
                right: 18%;
            }
        }
        

        .accounts {
            grid-row: 1/2;

            display: grid;
            grid-template-rows: 1fr 2fr 1fr;

            align-items: center;

            width: 75%;
            height: 80vh;
            padding: 2rem;

            h1 {
                grid-row: 1/2;
                grid-column: 1/2;

                font-family: Monument Extended;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 4.8px;

                color: $col_text;
                text-align: center;
            }
            form {
                grid-row: 2/3;
                grid-column: 1/2;

                display: flex;
                flex-direction: column;
                gap: 5rem;

                padding: 2rem 3rem;

                pointer-events: none;

                transition: clip-path 550ms ease;

                .inpField {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;

                    height: 2rem;

                    input {
                        grid-row: 1;
                        grid-column: 1;

                        border: none;
                        border-bottom: 1px solid $col_text_dim;

                        background-color: transparent;

                        font-family: Montserrat;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        &:focus  {
                            outline: none;
                            border-bottom: 1px solid $col_text;
                        }
                        &:focus + label, &:not(:placeholder-shown) + label {
                            transform: translateY(-60%);
                            font-size: 1rem;
                            color: $col_text_dim;
                        }
                    }
                    label {
                        grid-row: 1;
                        grid-column: 1;

                        font-family: Montserrat;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        color: $col_text;

                        cursor: text;
                        pointer-events: none;

                        transition: transform 250ms ease, font-size 150ms ease;
                    }
                }
            }
            p {
                grid-row: 2/3;
                grid-column: 1/2;

                padding: 0 3rem;

                text-align: center;
                font-family: Montserrat;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                text-align: center;

                z-index: -1;

                clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
                transition: clip-path 550ms ease;
            }
            .inpBtn {
                grid-row: 3/4;
                grid-column: 1/2;

                height: 3.25rem;
                padding: 0 5rem;

                input, div {
                    border: none;
                    cursor: pointer;

                    width: 100%;
                    height: 100%;

                    background-color: $col_primary;
                    border-radius: 10rem;

                    font-family: Montserrat;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    color: $col_accent;
                }
            }

            .inpBtn_input {
                opacity: 0;
                z-index: -1;
            }
            .inpBtn_div {
                opacity: 1;
                z-index: 0;
            }

            &.active {
                form {
                    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
                    pointer-events: all;
                }
                .inpBtn_div {
                    opacity: 0;
                    z-index: -1;
                }
                .inpBtn_input {
                    opacity: 1;
                    z-index: 0;
                }
            }
        }

        .createAccount {
            justify-self: end;

            form {
                clip-path: polygon(100% 0%,100% 0%,100% 100%,100% 100%);
            }

            &.active p {
                clip-path: polygon(0% 0%,0% 0%,0% 100%,0% 100%);
            }
        }
        .login {
            justify-self: start;

            form {
                clip-path: polygon(0% 0%,0% 0%,0% 100%,0% 100%);
            }

            &.active p {
                clip-path: polygon(100% 0%,100% 0%,100% 100%,100% 100%);
            }
        }
    }
}