$bg-gradient: linear-gradient(294deg, #19151A 0%, #292929 100%);
$col-accent: #fefefe30;
$col-transparent: #ffffff00;
$col-primary: #FF471F;
$col-text: #F9F9F9;

body {
    position: relative;
    width: auto;
    min-height: 350vh;

    background: $bg-gradient;

    .rectContainerBG {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
    }

    nav {
        position: fixed;

        top: 1.5rem;
        left: 1rem;
        right: 1rem;

        z-index: 10;

        padding:  1rem 2rem 1rem 2rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        border-radius: 0.15rem;
        border: 0.1px solid transparent;

        transition: border 150ms ease-in-out, backdrop-filter 500ms ease;

        .logoGroup {
            width: 11rem;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            img {
                width: 3rem;
                fill: $col-primary;
            }
            a {
                color: $col-text;
                text-decoration: none;
            }
        }
        .navMenu {
            position: relative;
            width: 40rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a {
                position: relative;
                color: $col-text;
            }

            .btn {
                padding: 0.6rem 2rem;
                color: $col-primary;

                border-radius: 3.125rem;
                border: 1px solid $col-primary;

                a {
                    color: $col-primary;
                    text-decoration: none;
                }

                transition: all 150ms ease;
                cursor: pointer;
            }
            .btn:hover {
                box-shadow: 0px 0px 10px 0px $col-primary;
            }
        }
    }
}

.boundingBoxDepth {
    box-shadow: 0px 0px 10px 1px #ffffff85;
    border-radius: 0.25rem;
    border: 0.1px solid $col-accent;
    background: $col-transparent;
}
.colPrimaryDropShadow {
    box-shadow: 0px 0px 10px 0px $col-primary;
}

.textLogo {
    font-family: Kelly Slab;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.textNav {
    font-family: Sen;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navOnScroll {
    border: 0.1px solid #ffffff20;

    backdrop-filter: blur(5px);
}

.linkWithUnderline {
    text-decoration: none;
    span {
		position: relative;
		display: block;
		width: 100%;
		height: 0.05rem;
		background-color: $col-text;

		clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		span {
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		}
	}
}