@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Monument Extended";
  src: url(/assets/fonts/MonumentExtended-Regular.otf) format("opentype"), url(/assets/fonts/MonumentExtended-Ultrabold.otf) format("opentype");
}
@font-face {
  font-family: "Futura";
  src: url(/assets/fonts/FuturaHeavyFont.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url(/assets/fonts/OpenSans-VariableFont_wdth_wght.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
  cursor: pointer;
}

body {
  width: 200vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  transition: transform 150ms ease;
}
body nav {
  position: fixed;
  height: 5rem;
  width: 100vw;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  outline: 1px solid #FDFDFF;
  transition: transform 150ms ease;
  z-index: 10;
}
body nav a {
  position: relative;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #131115;
}
body nav a img {
  width: 3rem;
}
body nav a div {
  background-color: #FDFDFF;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  color: #F28500;
  transition: opacity 150ms ease-in-out;
}
body nav a i {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FDFDFF;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  font-size: 1.5rem;
  color: #F28500;
  transition: opacity 150ms ease-in-out;
}
body nav a i::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
body nav a.enableClose div {
  opacity: 0;
}
body nav a.enableClose i {
  opacity: 1;
}
body .page1 {
  position: relative;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  top: 5rem;
  padding: 4rem 0;
}
body .page1 .bgText {
  position: absolute;
  left: 45%;
  top: -8rem;
  background-size: cover;
  width: auto;
  height: auto;
  z-index: -1;
}
body .page1 .heroText {
  position: relative;
  grid-column: 1;
  grid-row: 1/3;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .page1 .heroText h1 {
  font-family: Monument Extended;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.3rem;
  width: 25%;
  color: #131115;
}
body .page1 .heroText p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #363438;
}
body .page1 .heroImg {
  position: relative;
  grid-column: 2;
  grid-row: 1/3;
  left: 0;
  min-width: 0;
  min-height: 0;
  padding: 2rem;
}
body .page1 .heroImg img {
  border-radius: 10px;
}
body .page1 .getStartedButton {
  width: 12rem;
  height: 12rem;
  position: relative;
  justify-self: center;
  margin: 2rem;
  grid-row: 2;
  grid-column: 1/3;
  background-color: #FDFDFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .page1 .getStartedButton a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
body .page1 .getStartedButton a h1 {
  font-family: Monument Extended;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: #F28500;
}
body .page1 .getStartedButton a img {
  width: 2.25rem;
}
body .page2 {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
body .page2 img {
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 1rem 5rem;
}
body .page2 .info {
  grid-column: 2/3;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .page2 .info h1 {
  font-family: Monument Extended;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #131115;
}
body .page2 .info p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #363438;
}
body .page3 {
  width: 50%;
  padding: 0 5rem;
  margin: 3rem 0;
}
body .page3 .tryService {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 5rem 5rem;
  background-color: #FDFDFF;
  border-radius: 10px;
}
body .page3 .tryService .tryServiceText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 1/3;
}
body .page3 .tryService .tryServiceText h1 {
  font-family: Monument Extended;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.3rem;
  color: #131115;
}
body .page3 .tryService .tryServiceText p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #363438;
}
body .page3 .tryService .tryServiceBtn {
  grid-column: 3/4;
}
body .page3 .tryService .tryServiceBtn div {
  display: flex;
  gap: 0.8rem;
  background-color: #F28500;
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  font-family: Monument Extended;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #FDFDFF;
}
body .page3 .tryService .tryServiceBtn div img {
  width: 2rem;
}
body footer {
  width: 50%;
  padding: 1rem 5rem;
}
body footer .footerContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 0;
  border-top: 1px solid #131115;
  border-bottom: 1px solid #131115;
}
body footer .footerContainer .footerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
body footer .footerContainer .footerLeft img {
  width: 10rem;
}
body footer .footerContainer .footerLeft h1 {
  font-family: Futura;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.225rem;
}
body footer .footerContainer .footerRight {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 7rem;
  padding: 2rem;
}
body footer .footerContainer .footerRight ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body footer .footerContainer .footerRight ul li {
  list-style: none;
}
body footer .footerContainer .footerRight ul li a {
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #363438;
}
body footer .footerContainer .footerRight ul li a:hover {
  color: #131115;
}
body footer .footerContainer .backToTopBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  background-color: #FDFDFF;
  margin: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body footer .footerContainer .backToTopBtn img {
  width: 2rem;
}
body footer .footerBottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
body footer .footerBottom .copyrightInfo {
  font-family: OpenSans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #363438;
}
body footer .footerBottom .links {
  display: flex;
  gap: 3rem;
}
body footer .footerBottom .links a i {
  font-size: 1.25rem;
  color: #363438;
}
body .accountsPage {
  position: absolute;
  right: 0;
  top: calc((100vh - 5rem) / 2 + 5rem);
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 50%;
  padding: 0 5rem;
}
body .accountsPage .accountsBG {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #FDFDFF;
  transition: left 500ms ease, right 500ms ease;
  z-index: -2;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
body .accountsPage .accountsBG.left {
  left: 18%;
  right: 52%;
}
body .accountsPage .accountsBG.right {
  left: 52%;
  right: 18%;
}
body .accountsPage .accounts {
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  width: 75%;
  height: 80vh;
  padding: 2rem;
}
body .accountsPage .accounts h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: Monument Extended;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
  color: #131115;
  text-align: center;
}
body .accountsPage .accounts form {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 3rem;
  pointer-events: none;
  transition: -webkit-clip-path 500ms ease;
  transition: clip-path 500ms ease;
  transition: clip-path 500ms ease, -webkit-clip-path 500ms ease;
}
body .accountsPage .accounts form .inpField {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 2rem;
}
body .accountsPage .accounts form .inpField input {
  grid-row: 1;
  grid-column: 1;
  border: none;
  border-bottom: 1px solid #363438;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .accountsPage .accounts form .inpField input:focus {
  outline: none;
  border-bottom: 1px solid #131115;
}
body .accountsPage .accounts form .inpField input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-60%);
  font-size: 1rem;
  color: #363438;
}
body .accountsPage .accounts form .inpField input:focus + label, body .accountsPage .accounts form .inpField input:not(:placeholder-shown) + label {
  transform: translateY(-60%);
  font-size: 1rem;
  color: #363438;
}
body .accountsPage .accounts form .inpField label {
  grid-row: 1;
  grid-column: 1;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #131115;
  cursor: text;
  pointer-events: none;
  transition: transform 250ms ease, font-size 150ms ease;
}
body .accountsPage .accounts p {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 0 3rem;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 500ms ease;
  transition: clip-path 500ms ease;
  transition: clip-path 500ms ease, -webkit-clip-path 500ms ease;
}
body .accountsPage .accounts .inpBtn {
  grid-row: 3/4;
  grid-column: 1/2;
  height: 3.25rem;
  padding: 0 5rem;
}
body .accountsPage .accounts .inpBtn input, body .accountsPage .accounts .inpBtn div {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #FDFDFF;
  border-radius: 10rem;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F28500;
}
body .accountsPage .accounts .inpBtn_input {
  opacity: 0;
  z-index: -1;
}
body .accountsPage .accounts .inpBtn_div {
  opacity: 1;
  z-index: 0;
}
body .accountsPage .accounts.active form {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  pointer-events: all;
}
body .accountsPage .accounts.active .inpBtn_div {
  opacity: 0;
  z-index: -1;
}
body .accountsPage .accounts.active .inpBtn_input {
  opacity: 1;
  z-index: 0;
}
body .accountsPage .createAccount {
  justify-self: end;
}
body .accountsPage .createAccount form {
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
body .accountsPage .createAccount.active p {
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
body .accountsPage .login {
  justify-self: start;
}
body .accountsPage .login form {
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
body .accountsPage .login.active p {
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.backgroundGradient {
  background: url(/assets/images/Gradient01_repeat.png);
  background-size: 200%;
  background-repeat: repeat;
}

.linkWithUnderline {
  text-decoration: none;
}
.linkWithUnderline span {
  position: relative;
  display: block;
  width: 100%;
  height: 0.05rem;
  background-color: #131115;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  transition: all 0.2s ease-in-out;
}
.linkWithUnderline:hover span {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.buttonShadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=style.css.map */